<body>
    <header>
        <ul id="slide-out" class="side-nav menu">
            <li>
                <div class="userView">
                    <div class="background">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/VHS-cassette.jpg">
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </li>
            <li><a class="center" id="logout">log out</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons icon">menu</i></a>
    </header>


    <main>
        <div class="center">
            {{#each newVHS}}
                <h3>Title: {{this.title}}</h3>
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/VHS-cassette.jpg" alt="vhs" id="{{this.id}}" class="readMe">
                <h4>Director: {{this.director}}</h4>
                <h5>Duration: {{this.duration}}</h5>

        </div>
        <div class="row">
          <a class="waves-effect waves-light btn left" id="hideUpdate">hide form</a>
            <div class="col s12 m12 l12" id="updateForm">
              <br>
                <form class="">
                    <label for="director"> Director
                 <input id="director" placeholder="{{this.director}}" class="controls" type="text" name="director" required></label>
                    <label for="title">Title
                 <input id="title" placeholder="{{this.title}}" class="controls" type="text" name="title" required></label>
                    <label for="duration">Duration
                 <input id="duration" placeholder="{{this.duration}}" class="controls" type="text" name="duration" required></label>
                </form>
                <!-- <label class="active" for="update">Update</label> -->
                <button type="button" id="update" data-id="{{this.id}}" class="waves-effect waves-light btn">Update Me!</button>
                {{/each}}
                </div>
                <a href="/videos" class="waves-effect waves-light btn">back to gallery</a>
                <a type="button" id="delete" data-id="{{this.id}}" class="waves-effect waves-light btn">Delete Me!</a>

        </div>

    </main>
</body>
