<body>
    <header>
        <ul id="slide-out" class="side-nav menu">
            <li>
                <div class="userView">
                    <div class="background">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/VHS-cassette.jpg">
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </li>
            <li><a class="center" id="logout">log out</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons icon">menu</i></a>
    </header>

    <main>
        <div class="row">
            <div class="col s12 m12 l12">
                <h3 class="center" id="videoTitle">Add to Collection</h3>
                          <a class="waves-effect waves-light btn right" id="hideButton">hide form</a>
                <form action="./videos" method="post" id="hideForm">
                    <label for="title">Title
  <input type="text" name="title"><br>
</label>
                    <br>
                    <br>
                    <label for="director">Director
  <input type="text" name="director">
</label>
                    <br>
                    <br>
                    <label for="duration">Duration
<input type="text" name="duration">
</label>
                    <br>
                    <br>
                    <input type="submit" value="Submit" class="waves-effect waves-light btn">
                </form>
            </div>
        </div>


        <div class="row">
            <div class="col s12 m12 l12 center">
                {{#each vhs}}
                    <h3>Title: {{this.title}}</h3>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/VHS-cassette.jpg" alt="vhs" class="readMe">
                    <h4>Director: {{this.director}}</h4>
                    <h5>Duration: {{this.duration}}</h5>
                    <a id="{{this.id}}" href="/videos/{{this.id}}" class="waves-effect waves-light btn center">Look at Me!</a>
                {{/each}}
            </div>
        </div>
    </main>
</body>
